<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>1-Bit Full Adder</title>
</head>
<body>
    <h1>1-Bit Full Adder</h1>
    <form action="/api/add" method="post">
        <label for="A">Input A:</label>
        <input type="checkbox" id="A" name="A"><br>

        <label for="B">Input B:</label>
        <input type="checkbox" id="B" name="B"><br>

        <label for="Cin">Carry In:</label>
        <input type="checkbox" id="Cin" name="Cin"><br>

        <button type="submit">Evaluate</button>
    </form>
</body>
</html>